<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbAskExpertMapper">
    
    <resultMap type="TbAskExpert" id="TbAskExpertResult">
        <result property="askExpertsId"    column="ask_experts_id"    />
        <result property="expertName"    column="expert_name"    />
        <result property="introduction"    column="introduction"    />
        <result property="dictValue"    column="dict_value"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="direction"    column="direction"    />
        <result property="researchIntroduction"    column="research_introduction"    />
    </resultMap>

    <sql id="selectTbAskExpertVo">
        select ask_experts_id, expert_name, introduction, dict_value,
               del_flag, create_by, create_time, update_by, update_time, remark, user_id ,direction,research_introduction
        from tb_ask_expert
    </sql>

    <select id="selectTbAskExpertList" parameterType="TbAskExpert" resultMap="TbAskExpertResult">
        <include refid="selectTbAskExpertVo"/>
        <where>
            <if test="expertName != null  and expertName != ''">and expert_name like concat('%', #{expertName}, '%')
            </if>
            <if test="introduction != null  and introduction != ''">and introduction = #{introduction}</if>
            <if test="dictValue != null  and dictValue != ''">and dict_value = #{dictValue}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="direction != null ">and direction = #{direction}</if>
            <if test="researchIntroduction != null ">and research_introduction = #{researchIntroduction}</if>
        </where>
    </select>
    
    <select id="selectTbAskExpertByAskExpertsId" parameterType="Long" resultMap="TbAskExpertResult">
        <include refid="selectTbAskExpertVo"/>
        where ask_experts_id = #{askExpertsId}
    </select>
    
    <select id="selectTbAskExpertByDictValue" parameterType="String" resultMap="TbAskExpertResult">
        <include refid="selectTbAskExpertVo"/>
        where dict_value = #{dictValue}
    </select>

    <insert id="insertTbAskExpert" parameterType="TbAskExpert" useGeneratedKeys="true" keyProperty="askExpertsId">
        insert into tb_ask_expert
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="expertName != null">expert_name,</if>
            <if test="introduction != null">introduction,</if>
            <if test="dictValue != null">dict_value,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="direction != null">direction,</if>
            <if test="researchIntroduction != null">research_introduction,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="expertName != null">#{expertName},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="dictValue != null">#{dictValue},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="direction != null">#{direction},</if>
            <if test="researchIntroduction != null">#{researchIntroduction},</if>
         </trim>
    </insert>
    <update id="updateTbAskExpert" parameterType="TbAskExpert">
        update tb_ask_expert
        <trim prefix="SET" suffixOverrides=",">
            <if test="expertName != null">expert_name = #{expertName},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="dictValue != null">dict_value = #{dictValue},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="direction != null">direction = #{direction},</if>
            <if test="researchIntroduction != null">user_id = #{researchIntroduction},</if>
        </trim>
        where ask_experts_id = #{askExpertsId}
    </update>



    <delete id="deleteTbAskExpertByAskExpertsId" parameterType="Long">
        delete from tb_ask_expert where ask_experts_id = #{askExpertsId}
    </delete>

    <delete id="deleteTbAskExpertByAskExpertsIds" parameterType="String">
        delete from tb_ask_expert where ask_experts_id in 
        <foreach item="askExpertsId" collection="array" open="(" separator="," close=")">
            #{askExpertsId}
        </foreach>
    </delete>
</mapper>