<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbAskFreeMapper">
    
    <resultMap type="TbAskFree" id="TbAskFreeResult">
        <result property="askFreeId"    column="ask_free_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="parentId"    column="parent_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectTbAskFreeVo">
        select ask_free_id, title, content, del_flag, create_by, create_time, update_by, update_time, remark,parent_id,user_id from tb_ask_free
    </sql>

    <select id="selectTbAskFreeList" parameterType="TbAskFree" resultMap="TbAskFreeResult">
        <include refid="selectTbAskFreeVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            parent_id is NULL
        </where>
    </select>
    
    <select id="selectTbAskFreeByAskFreeId" parameterType="Long" resultMap="TbAskFreeResult">
        <include refid="selectTbAskFreeVo"/>
        where ask_free_id = #{askFreeId}
    </select>

    <select id="selectTbAskFreeByParentId" parameterType="Long" resultMap="TbAskFreeResult">
        <include refid="selectTbAskFreeVo"/>
        where parent_id = #{askFreeId}
    </select>


    <insert id="insertTbAskFree" parameterType="TbAskFree" useGeneratedKeys="true" keyProperty="askFreeId">
        insert into tb_ask_free
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="parentID != null">parent_id,</if>
            <if test="userID != null">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="parentID != null">#{parentID},</if>
            <if test="userID != null">#{userID },</if>
         </trim>
    </insert>

    <update id="updateTbAskFree" parameterType="TbAskFree">
        update tb_ask_free
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where ask_free_id = #{askFreeId}
    </update>

    <delete id="deleteTbAskFreeByAskFreeId" parameterType="Long">
        delete from tb_ask_free where ask_free_id = #{askFreeId}
    </delete>

    <delete id="deleteTbAskFreeByAskFreeIds" parameterType="String">
        delete from tb_ask_free where ask_free_id in 
        <foreach item="askFreeId" collection="array" open="(" separator="," close=")">
            #{askFreeId}
        </foreach>
    </delete>
</mapper>