<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbFileServerMapper">
    
    <resultMap type="TbFileServer" id="TbFileServerResult">
        <result property="fileId"    column="file_id"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileName"    column="file_name"    />
        <result property="original"    column="original"    />
        <result property="bucketName"    column="bucket_name"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="fileSize"    column="file_size"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="tableName"    column="table_name"    />
        <result property="tableId"    column="table_id"    />
        <result property="sort"    column="sort"    />
    </resultMap>

    <sql id="selectTbFileServerVo">
        select file_id, file_type, file_name, original, bucket_name, file_url, file_size, del_flag, create_by, create_time, update_by, update_time, table_name, table_id, sort from tb_file_server
    </sql>

    <select id="selectTbFileServerList" parameterType="TbFileServer" resultMap="TbFileServerResult">
        <include refid="selectTbFileServerVo"/>
        <where>  
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="original != null  and original != ''"> and original = #{original}</if>
            <if test="bucketName != null  and bucketName != ''"> and bucket_name like concat('%', #{bucketName}, '%')</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="fileSize != null "> and file_size = #{fileSize}</if>
            <if test="tableName != null  and tableName != ''"> and table_name like concat('%', #{tableName}, '%')</if>
            <if test="tableId != null "> and table_id = #{tableId}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectTbFileServerByFileId" parameterType="Long" resultMap="TbFileServerResult">
        <include refid="selectTbFileServerVo"/>
        where file_id = #{fileId}
    </select>
        
    <insert id="insertTbFileServer" parameterType="TbFileServer" useGeneratedKeys="true" keyProperty="fileId">
        insert into tb_file_server
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileType != null">file_type,</if>
            <if test="fileName != null">file_name,</if>
            <if test="original != null">original,</if>
            <if test="bucketName != null">bucket_name,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="tableName != null and tableName != ''">table_name,</if>
            <if test="tableId != null">table_id,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileType != null">#{fileType},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="original != null">#{original},</if>
            <if test="bucketName != null">#{bucketName},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="tableName != null and tableName != ''">#{tableName},</if>
            <if test="tableId != null">#{tableId},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateTbFileServer" parameterType="TbFileServer">
        update tb_file_server
        <trim prefix="SET" suffixOverrides=",">
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="original != null">original = #{original},</if>
            <if test="bucketName != null">bucket_name = #{bucketName},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="tableName != null and tableName != ''">table_name = #{tableName},</if>
            <if test="tableId != null">table_id = #{tableId},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where file_id = #{fileId}
    </update>

    <delete id="deleteTbFileServerByFileId" parameterType="Long">
        delete from tb_file_server where file_id = #{fileId}
    </delete>

    <delete id="deleteTbFileServerByFileIds" parameterType="String">
        delete from tb_file_server where file_id in 
        <foreach item="fileId" collection="array" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </delete>
</mapper>