<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbNewsMapper">
    
    <resultMap type="TbNews" id="TbNewsResult">
        <result property="newsId"    column="news_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="firstColumn"    column="first_column"    />
        <result property="secondColumn"    column="second_column"    />
        <result property="sort"    column="sort"    />
        <result property="reading"    column="reading"    />
    </resultMap>

    <sql id="selectTbNewsVo">
        select news_id, title, content, del_flag, create_by, create_time, update_by, update_time, remark, first_column, second_column, sort,reading from tb_news
    </sql>

    <select id="selectTbOtherColumnsList" parameterType="TbNews" resultMap="TbNewsResult">
        <include refid="selectTbNewsVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="firstColumn != null  and firstColumn != ''"> and first_column = #{firstColumn}</if>
            <if test="secondColumn != null  and secondColumn != ''"> and second_column = #{secondColumn}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectTbOtherColumnsByNewsId" parameterType="Long" resultMap="TbNewsResult">
        <include refid="selectTbNewsVo"/>
        where news_id = #{newsId}
    </select>
        
    <insert id="insertTbOtherColumns" parameterType="TbNews" useGeneratedKeys="true" keyProperty="newsId">
        insert into tb_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="firstColumn != null">first_column,</if>
            <if test="secondColumn != null">second_column,</if>
            <if test="sort != null">sort,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="firstColumn != null">#{firstColumn},</if>
            <if test="secondColumn != null">#{secondColumn},</if>
            <if test="sort != null">#{sort},</if>
         </trim>
    </insert>

    <update id="updateTbOtherColumns" parameterType="TbNews">
        update tb_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="firstColumn != null">first_column = #{firstColumn},</if>
            <if test="secondColumn != null">second_column = #{secondColumn},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where news_id = #{newsId}
    </update>

    <delete id="deleteTbOtherColumnsByNewsId" parameterType="Long">
        delete from tb_news where news_id = #{newsId}
    </delete>

    <delete id="deleteTbOtherColumnsByNewsIds" parameterType="String">
        delete from tb_news where news_id in
        <foreach item="newsId" collection="array" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>

    <select id="selectTbNewsByColumn"  resultMap="TbNewsResult">
        <include refid="selectTbNewsVo"/>
        where first_column = #{firstColumn} AND second_column = #{secondColumn}
    </select>

    <select id="selectTbNewsFirstColumnsList" parameterType="String"
            resultMap="TbNewsResult">
        <include refid="selectTbNewsVo"/>
        where first_column = 0
    </select>

    <update id="updateTbNewsFirstColumns"  parameterType="TbLearnTech">
        update tb_news
        <trim prefix="SET" suffixOverrides=",">
            first_column = 1
        </trim>
        where news_id = #{newsId}
    </update>

    <update id="updateReading" parameterType="TbLearnTech">
        update tb_news
        <trim prefix="SET" suffixOverrides=",">
            reading = reading + 1
        </trim>
        where news_id = #{newsId}
    </update>
</mapper>