<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbOfflineTrainingMapper">
    
    <resultMap type="TbOfflineTraining" id="TbOfflineTrainingResult">
        <result property="newsId"    column="news_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="firstColumn"    column="first_column"    />
        <result property="secondColumn"    column="second_column"    />
        <result property="sort"    column="sort"    />
        <result property="reading"    column="reading"    />
        <result property="collect"    column="collect"    />
        <result property="likes"    column="likes"    />
    </resultMap>

    <sql id="selectTbOfflineTrainingVo">
        select news_id, title, content, del_flag, create_by, create_time, update_by, update_time, remark, first_column, second_column, sort,reading,collect,likes from tb_offline_training
    </sql>

    <select id="selectTbOfflineTrainingList" parameterType="TbOfflineTraining" resultMap="TbOfflineTrainingResult">
        <include refid="selectTbOfflineTrainingVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="firstColumn != null  and firstColumn != ''"> and first_column = #{firstColumn}</if>
            <if test="secondColumn != null  and secondColumn != ''"> and second_column = #{secondColumn}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectTbOfflineTrainingByNewsId" parameterType="Long" resultMap="TbOfflineTrainingResult">
        <include refid="selectTbOfflineTrainingVo"/>
        where news_id = #{newsId}
    </select>
        
    <insert id="insertTbOfflineTraining" parameterType="TbOfflineTraining" useGeneratedKeys="true" keyProperty="newsId">
        insert into tb_offline_training
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="firstColumn != null">first_column,</if>
            <if test="secondColumn != null">second_column,</if>
            <if test="sort != null">sort,</if>
            <if test="reading != null">reading,</if>
            <if test="collect != null">collect,</if>
            <if test="likes != null">likes,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="firstColumn != null">#{firstColumn},</if>
            <if test="secondColumn != null">#{secondColumn},</if>
            <if test="sort != null">#{sort},</if>
            <if test="reading != null">#{reading},</if>
            <if test="collect != null">#{collect},</if>
            <if test="likes != null">#{likes},</if>
         </trim>
    </insert>

    <update id="updateTbOfflineTraining" parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="firstColumn != null">first_column = #{firstColumn},</if>
            <if test="secondColumn != null">second_column = #{secondColumn},</if>
            <if test="sort != null">sort = #{sort},</if>
        </trim>
        where news_id = #{newsId}
    </update>

    <delete id="deleteTbOfflineTrainingByNewsId" parameterType="Long">
        delete from tb_offline_training where news_id = #{newsId}
    </delete>

    <delete id="deleteTbOfflineTrainingByNewsIds" parameterType="String">
        delete from tb_offline_training where news_id in 
        <foreach item="newsId" collection="array" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>

    <select id="selectTbOfflineTrainingByColumn"  resultMap="TbOfflineTrainingResult">
        <include refid="selectTbOfflineTrainingVo"/>
        where first_column = #{firstColumn}
    </select>


    <select id="selectTbOfflineTrainingFirstColumnsList" parameterType="String"
            resultMap="TbOfflineTrainingResult">
        <include refid="selectTbOfflineTrainingVo"/>
        where first_column = 0
    </select>

    <update id="updateTbOfflineTrainingFirstColumns"  parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            first_column = 1
        </trim>
        where news_id = #{newsId}
    </update>

    <update id="updateReading" parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            reading = reading + 1
        </trim>
        where news_id = #{newsId}
    </update>

    <update id="addLikes" parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            likes = likes + 1
        </trim>
        where news_id = #{newsId}
    </update>

    <update id="subLikes" parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            likes = likes - 1
        </trim>
        where news_id = #{newsId}
    </update>

    <update id="addCollect" parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            collect = collect + 1
        </trim>
        where news_id = #{newsId}
    </update>

    <update id="subCollect" parameterType="TbOfflineTraining">
        update tb_offline_training
        <trim prefix="SET" suffixOverrides=",">
            collect = collect - 1
        </trim>
        where news_id = #{newsId}
    </update>

    <select id="selectTbOfflineTrainingByLike" parameterType="String" resultMap="TbOfflineTrainingResult">
        <include refid="selectTbOfflineTrainingVo"/>
        <where>
            content like '%${query}%' or title like '%${query}%'
        </where>
    </select>


    <!--  根据收藏列表获取新闻-->
    <select id="selectTbOfflineTrainingByIdList" parameterType="java.util.List" resultMap="TbOfflineTrainingResult">
        SELECT  news_id, title, content, del_flag, create_by, create_time, update_by, update_time, remark, first_column, second_column, sort
        from tb_offline_training
        WHERE first_column = '1' AND news_id IN
        <foreach item="item" collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>