<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbStationIntroductionMapper">

    <resultMap type="TbStationIntroduction" id="TbStationIntroductionResult">
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="audit" column="audit"/>
        <result property="category" column="category"/>
        <result property="sort" column="sort"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectTbStationIntroductionVo">
         select id, content, audit, category,
               sort,
               remark, create_by, create_time, update_by, update_time
        FROM tb_station_introduction
    </sql>

    <!-- 查询新闻列表 -->
    <select id="selectTbStationIntroductionList" resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
    </select>

    <!-- 查询驿站id为id的已审核的驿站信息列表 -->
    <select id="selectTbStationIntroductionListByStationId" resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        WHERE sort = #{stationId}
    </select>

    <!-- 查询已审核新闻列表 -->
    <select id="selectTbStationIntroductionAuditList" resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        WHERE audit = 1
    </select>

    <!-- 查询未审核驿站介绍列表 -->
    <select id="selectTbStationIntroductionUnauditedList" parameterType="String"
            resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        where audit = 0
    </select>

    <!-- 根据驿站id查询未审核驿站介绍列表 -->
    <select id="selectTbStationIntroductionUnauditedListByStationId"
            resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        where audit = 0 and sort = #{stationId}
    </select>

    <!-- 根据id审核新闻对象 -->
    <update id="updateTbStationIntroductionAudit" parameterType="TbStationIntroduction">
        update tb_station_introduction
        <trim prefix="SET" suffixOverrides=",">
            audit = #{audit}
        </trim>
        where id = #{id}
    </update>

    <!-- 通过id获取新闻详细信息 -->
    <select id="selectTbStationIntroductionById" parameterType="Long" resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        where id = #{id}
    </select>

    <!-- 新增驿站信息 -->
    <insert id="insertTbStationIntroduction" parameterType="TbStationIntroduction" useGeneratedKeys="true" keyProperty="id">
        insert into tb_station_introduction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="content != null">content,</if>
            <if test="audit != null">audit,</if>
            <if test="category != null">category,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="content != null">#{content},</if>
            <if test="audit != null">#{audit},</if>
            <if test="category != null">#{category},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <!-- 修改驿站信息 -->
    <update id="updateStationIntroduction" parameterType="TbStationIntroduction">
        update tb_station_introduction
        <trim prefix="SET" suffixOverrides=",">
            <if test="content != null">content = #{content},</if>
            <if test="audit != null">audit = #{audit},</if>
            <if test="category != null">category = #{category},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 通过id删除驿站信息 -->
    <delete id="deleteTbStationIntroductionByStationIntroductionId" parameterType="Long">
        delete from tb_station_introduction where id = #{id}
    </delete>

    <!-- 通过id列表删除驿站信息 -->
    <delete id="deleteTbStationIntroductionByStationIntroductionIds" parameterType="String">
        delete from tb_station_introduction where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 模糊查询已审核数据 -->
    <select id="selectStationIntroductionByLike" parameterType="String" resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        WHERE audit = 1 AND ( title LIKE '%${query}%' OR content LIKE '%${query}%' )
    </select>

    <!-- 通过id列表查询对应数据 -->
    <select id="selectStationIntroductionListByIds" parameterType="java.util.List" resultMap="TbStationIntroductionResult">
        <include refid="selectTbStationIntroductionVo"/>
        WHERE id IN
        <foreach item="item" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>