<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbUserStationMapper">

    <resultMap type="TbUserStation" id="TbUserStationResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="stationId"    column="station_id"    />
    </resultMap>

    <sql id="selectTbUserStationVo">
        SELECT id, user_id, station_id
        FROM tb_user_station
    </sql>

    <!-- 新增用户-驿站信息 -->
    <insert id="insertTbUserStation" parameterType="TbUserStation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_user_station
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="stationId != null">station_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="stationId != null">#{stationId},</if>
        </trim>
    </insert>

    <!-- 通过用户id，修改用户-驿站信息 -->
    <update id="updateTbUserStation" parameterType="TbUserStation">
        UPDATE tb_user_station
        <trim prefix="SET" suffixOverrides=",">
            <if test="stationId != null">station_id = #{stationId},</if>
        </trim>
        WHERE user_id = #{userId}
    </update>

    <!-- 通过用户id，获取用户-驿站信息 -->
    <select id="selectTbUserStationByUserId" parameterType="Long" resultMap="TbUserStationResult">
        <include refid="selectTbUserStationVo"/>
        WHERE user_id = #{userId}
    </select>
</mapper>